body{
    margin: 0px;
    
    
   
}

#sfondo-header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 20%;
}

#logo-booleaner{
    width: 200px;
    height: 100px;    
}

#titolo-articolo{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.colore-scrittura{
    color: darkgrey;

}

#colore-autore{
    color: #4ea0ff ;
}